{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<div class="container">

    <div class="card shadow">

        {% if object.preview %}
        <img src="{{ object.preview.url }}" class="card-img-top">
        {% endif %}

        <div class="card-body">

            <h1>{{ object.title }}</h1>

            <p class="text-muted">
                👁 Просмотры: {{ object.views_count }}
            </p>

            <hr>

            <p>{{ object.content }}</p>

            <div class="mt-4">

                <a href="{% url 'blog:update' object.pk %}" class="btn btn-warning">
                    Редактировать
                </a>

                <a href="{% url 'blog:delete' object.pk %}" class="btn btn-danger">
                    Удалить
                </a>

                <a href="{% url 'blog:list' %}" class="btn btn-secondary">
                    Назад
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}